/* Style for Final Project */
.nav-top {
  color: yellow;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  margin: 0 auto;
}

img {
  margin: 0 auto;
  width: 100%;
  padding-bottom: 5px;
  text-align: center;
}

.hero-container {
  position: relative;
  text-align: center;
}

#place {
  color: red;
  font-size: .75em;
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  text-align: left;
}

#headline {
  font-size: 1.5em;
  font-weight: 700;
  text-align: left;
  font-family: 'Montserrat', sans-serif;
  color: #1355A1;
}

#byline {
  font-size: 1em;
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  text-align: left;
}

p {
  font-size: 1em;
  font-family: 'Georgia', serif;
  line-height: 180%;
  color: black;
  text-align: left;
}

.col-md-4 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  color: #1355A1;
  padding: 0 15px 0 15px;
}

#first-quote {
  font-size: 1.85em;
}

#second-quote {
  font-size: 1.75em;
}

#caption {
  font-size: .75em;
  color: grey;
  font-family: 'Georgia', serif;
  width: 100%;
  padding-bottom: .5em;
}

footer {
  font-size: 1em;
  background-color: black;
  color: yellow;
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  padding: 10px;
  width: 100%
}

.end {
  font-family: 'Georgia', sans-serif;
  font-style: italic;
  font-size: .75em;
  color: grey;
}

spans {
  color: #1355A1;
  font-size: 4em;
  font-weight: 500;
}

.quote-attribution {
  font-size: .5em;
  line-height: 20px;
  color: Black;
  font-style: italic;
  padding-bottom: 10px;
}

#pie {
  width: 60%;
  height: 60%;
  margin: 0 auto;
}
