/* Style for Final Project */
.nav-top {
  color: yellow;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  margin: 0 auto;
}

.image {
  margin: 0 auto;
  width: 100%;
  padding-bottom: 5px;
}

.hero-container {
  text-align: center;
  width: 100%;
}

/* image full width of site? */

#place {
  color: red;
  font-size: .75em;
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  text-align: left;
}

#headline {
  font-size: 1.5em;
  font-weight: 700;
  text-align: left;
  font-family: 'Montserrat', sans-serif;
  color: #1355A1;
}

#byline {
  font-size: 1em;
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  text-align: left;
}

p {
  font-size: 1em;
  font-family: 'Georgia', serif;
  line-height: 180%;
  color: black;
  text-align: left;
}

.col-md-4 {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.75em;
  font-weight: 500;
  color: #1355A1;
  padding: 0 15px 0 15px;
}
